<!--editor-->
<div class="form-group form-group-md">
    <input type="text" autofocus class="form-control" id="title" placeholder="标题字数 10 字以上">
</div>
<div>
    <textarea id="editor">
    </textarea>
</div>
<button class="btn btn-md btn-success" id="publishTopic">发布</button>

