<!--editor-->
<div class="form-group form-group-md">
    <input type="text" autofocus class="form-control" id="title" maxlength="20" placeholder="标题字数 20 字以下">
</div>
<textarea id="editor">
</textarea>
<button class="btn btn-md btn-success" id="publishTopic">发布</button>

