<div class="widget">
    <h4 class="title">关注我</h4>
    <div class="follow-me">
        <a href="/tag/opensource/">开源</a>
        <a href="/tag/tag-cloud/">标签云</a>
        <a href="/tag/navigation/">导航</a>
        <a href="/tag/static-page/">静态页面</a>
        <a href="/tag/configuration/">配置文件</a>
        <a href="/tag-cloud/">...</a>
    </div>
</div>
<div class="widget">
    <h4 class="title">最新文章</h4>
    <div class="follow-me">
        <a href="/tag/opensource/">开源</a>
        <a href="/tag/tag-cloud/">标签云</a>
        <a href="/tag/navigation/">导航</a>
        <a href="/tag/static-page/">静态页面</a>
        <a href="/tag/configuration/">配置文件</a>
        <a href="/tag-cloud/">...</a>
    </div>
</div>
<div class="widget">
    <h4 class="title">标签云</h4>
    <div class="tag-cloud">
        <a href="/tag/opensource/">开源</a>
        <a href="/tag/tag-cloud/">标签云</a>
        <a href="/tag/navigation/">导航</a>
        <a href="/tag/static-page/">静态页面</a>
        <a href="/tag/configuration/">配置文件</a>
        <a href="/tag-cloud/">...</a>
    </div>

</div>