/*body {*/
    /*font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";*/
/*}*/
@charset "UTF-8";
/*css reset*/
body {
    font: 12px/1.5 'Microsoft Yahei', 'Simsun';
    color: #666666;
    background: #eaeaea;
}

ul {
    list-style: none;
}

a {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none;
}

.noDis {
    display: none !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.elli {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.c {
    margin: 0 auto;
}

/* Position */
.f_l {
    float: left;
    display: inline;
}

.f_r {
    float: right;
    display: inline;
}

.f_n {
    float: none !important;
}

.t_c {
    text-align: center;
}

.t_l {
    text-align: left;
}

.t_r {
    text-align: right;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.m0 {
    margin-top: 0 !important;
}

.mt15 {
    margin-top: 15px !important;
    background-color: #fff;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

nav {
    font-size: 18px;
}

.copyright {
    display: block;
    text-align: -webkit-center;
}

.hk {
    width: 1080px;
    margin-top: 80px;
}

.banner img {
    width: 100%;
    height: 300px;
    transition: all 0.5s;
}

.topnews h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    border-bottom: #db6d4c 4px solid;
}

.blog {
    padding: 30px 0;
    position: relative;
    border-bottom: #CCC 1px solid;
    overflow: hidden;
}

.blog figure {
    float: left;
    overflow: hidden;
}

.blog figure img {
    width: 200px;
    transition: all 0.5s;
    padding-right: 15px;
}

.blog h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

.blog h3 a {
    color: #474645;
}

.autor span {
    margin: 0 10px 0 0;
    padding-left: 20px;
}

.autor span a {
    color: #759b08;
}

.autor span a:hover {
    text-decoration: underline;
}

.tit01 h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
    border-bottom: #db6d4c 4px solid;
}

.tit01 li {
    display: inline;
    float: left;
}

/* 关注我样式 */
.gzwm ul {
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
}

.gzwm li {
    width: 52px;
    margin: 0 18px 0 5px;
    float: left;
}

.gzwm li a {
    color: #747F8C;
    width: 52px;
    text-align: center;
    padding-top: 60px;
    float: left;
}

.gzwm .rss {
    background: url(../images/ico_04_1.jpg) no-repeat scroll 0 0 transparent;
}

.gzwm .rss:hover {
    color: #000;
    background: url(../images/ico_04.png) no-repeat scroll 0 0 transparent;
}

.gzwm .xlwb {
    background: url(../images/ico_05_1.jpg) no-repeat scroll 0 0 transparent;
}

.gzwm .xlwb:hover {
    color: #000;
    background: url(../images/ico_05.png) no-repeat scroll 0 0 transparent;
}

.gzwm .txwb {
    background: url(../images/ico_06_1.jpg) no-repeat scroll 0 0 transparent;
}

.gzwm .txwb:hover {
    color: #000;
    background: url(../images/ico_06.png) no-repeat scroll 0 0 transparent;
}

.gzwm .wx {
    background: url(../images/ico_07_1.jpg) no-repeat scroll 0 0 transparent;
}

.gzwm .wx:hover {
    color: #000;
    background: url(../images/ico_07.png) no-repeat scroll 0 0 transparent;
}

/*标签云*/
.cloud {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.cloud h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #CCC;
    height: 40px;
}

.cloud ul {
    margin: 20px 0;
}

.cloud ul li {
    line-height: 24px;
    display: block;
    background: #999;
    float: left;
    padding: 4px 13px;
    margin: 10px 10px 0 0;
    border-radius: 8px;
    transition: all 0.5s;
}

.cloud ul li a {
    color: #FFF;
}

.cloud ul li:nth-child(8n-7) {
    background: #8A9B0F;
}

.cloud ul li:nth-child(8n-6) {
    background: #EB6841;
}

.cloud ul li:nth-child(8n-5) {
    background: #3FB8AF;
}

.cloud ul li:nth-child(8n-4) {
    background: #FE4365;
}

.cloud ul li:nth-child(8n-3) {
    background: #FC9D9A;
}

.cloud ul li:nth-child(8n-2) {
    background: #EDC951;
}

.cloud ul li:nth-child(8n-1) {
    background: #C8C8A9;
}

.cloud ul li:nth-child(8n) {
    background: #83AF9B;
}

.cloud ul li:first-child {
    background: #036564;
}

.cloud ul li:last-child {
    background: #3299BB;
}

.cloud ul li:hover {
    border-radius: 0;
    text-shadow: #000 1px 1px 1px;
}

/* 切换卡 */
.moreSelect {
    width: 100%;
    margin: 30px 0 20px 0;
    overflow: hidden;
}

.ms-top {
    height: 32px;
    border-bottom: solid 1px #EAEAEA;
    font-size: 14px;
}

#tab li a {
    float: left;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    list-style-type: none;
    padding: 0 15px;
}

#tab li.cur a {
    color: #fff;
    background: #f77825;
}

.bd {
    display: none;
}

.bd-news ul li {
    border-bottom: solid 1px #CCC;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
}

.bd-news ul li a {
    display: block;
}

.bd-news ul li a:hover {
    color: #000;
}

.bd-news ul li:hover {
    border-bottom: #000 1px solid;
}

/* 鼠标放上去的效果 */
/*首页右侧广告 300*/
.ad {
    width: 300px;
    overflow: hidden;
    margin: 30px 0;
}

.ad img {
    width: 300px;
}

/*友情链接*/
.links {
    width: 100%;
    overflow: hidden;
    clear: both;
}

.links h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #CCC;
    height: 40px;
    margin-bottom: 20px;
}

.links h3 span {
    float: right;
    font-size: 12px;
}

.links h3 span a {
    color: #999;
    padding: 0 5px;
}

.links h3 span a:hover {
    color: #F60;
    text-decoration: underline;
}

.links ul {
    background: #f9f9f9;
    padding: 10px;
    overflow: hidden;
    border: #e9e9e9 1px solid;
}

.links ul li {
    float: left;
    padding: 5px 8px;
}

.links ul li a:hover {
    color: #000;
}
