@charset "UTF-8";
/*css reset*/
body {
    color: #666666;
    font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
    background: #F5F7F9;
}

