@charset "UTF-8";
/*common styles*/
html,
body {
    color: #505050;
    line-height: 1.75em;
    position: relative;
    font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
    background: #F5F7F9;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #303030;
}

a {
    color: #303030;
}

a:hover {
    color: #337ab7;
    text-decoration:none;
}

/*nav*/
.navbar .navbar-toggle {
    margin-top: 15px;
}

.navbar .navbar-toggle {
    background-color: #009688;
    border-color: transparent;
}

.navbar .navbar-brand {
    height: 60px;
}

.navbar .navbar-brand img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -8px;
    margin-right: 6px;
}

.my-nav-pills > li > a {
    font-size: 16px;
    padding: 0 22px;
    line-height: 60px;
}

.content-wrap {
    margin-top: 80px;
}

.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.post .post-head {
    text-align: center;
}

.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0;
}

.post .post-head .post-meta span {
    margin: 0 7px;
}

.post .featured-media {
    margin-top: 30px;
    overflow: hidden;
}

.post .post-content {
    margin: 30px 0;
}

.sidebar .widget {
    background: #ffffff;
    padding: 21px 30px;
}

.widget {
    margin-bottom: 35px;
}

.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}

.widget .title:after {
    content: "";
    width: 90px;
    height: 1px;
    background: #e67e22;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.widget .tag-cloud a {
    border: 1px solid #ebebeb;
    padding: 2px 7px;
    color: #959595;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.widget .tag-cloud a:hover {
    color: #ffffff;
    background: #e67e22;
    border: 1px solid #e67e22;
    border-radius:5px;
    text-decoration: none;
}

/*footer*/
.my-footer {
    text-align: center;
}