*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a{text-decoration:none;color:#515151;}
li,ol,ul{list-style:none}
html,body{
    background: #ffffff;
    width:100%;height:100%;
    position: relative;
}
.tc{text-align: center}
.welcome-bg{
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size:100% 120%;
    /*-webkit-filter: blur(1px);*/
    /*-moz-filter: blur(1px);*/
    /*-o-filter: blur(1px);*/
    /*-ms-filter: blur(1px);*/
    /*filter: blur(1px) saturate(200%);*/
    margin: auto;
}
#overlay>h1{
    text-transform: uppercase;
    padding: 0 0 0.2em;
    color: #fff;
    font-weight: 800;
    font-size: 5em;
   line-height: 5em;
}
#overlay .welcome-text {
    color: #fff;
    padding: 0 0 0.6em;
    font-weight: 400;
    font-size: 2.25em;
    margin: 0 auto;
    /*display: none;*/
}
/* 半透明的遮罩层 */
#overlay {
    background: #555;
    filter: alpha(opacity=40); /* IE的透明度 */
    opacity: 0.4;  /* 透明度 */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:block;
}

#overlay .welcome-btn{
    height: 0;
    width: 0;
    border:30px solid transparent;
    display: inline-block;
    border-top-color:#fff;
    margin: auto;
    font-size:0; line-height:0;
    cursor: pointer;
    position: absolute;
    top: auto;
    left:0;
    right:0;
    transition:top 2s ease-in;
    -moz-transition:top 2s ease-in; /* Firefox 4 */
    -webkit-transition:top 2s ease-in; /* Safari and Chrome */
    -o-transition:top 2s ease-in; /* Opera */
}
#overlay .welcome-btn:hover{
  margin-top: 10px;
}
section{
    display: flex;

}
/*首页*/
.nav{
    width:100%;
    height: 40px;
    line-height: 40px;
    background:#d9f6f2;
}
.nav>ul>li{
    float: left;
    width: 20%;
    text-align: center;
}
.nav>ul>li a{
    display: inline-block;
    width: 65%;
}
.nav>ul>li a>img{
    width: 20px;
    vertical-align: text-bottom;
    margin-right: 10px;
}
.nav>ul>li>img{
    width:80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
    border: 3px solid #fff;
}
header{
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
    /*background: #39ccd3;*/
    height: 300px;
}