</head>
<body>
<!--navigation-->
<nav class="navbar navbar-inverse navbar-fixed-top text-center" style="opacity: 0.8;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8"></div>
            <div id="navbar" class="navbar-collapse collapse col-lg-4">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#/blog">博客</a></li>
                    <li><a href="#/board">留言</a></li>
                    <li><a href="#/about">关于</a></li>

                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                    <!--关于 <span class="caret"></span>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="dropdown-header">Nav header</li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</nav>