</head>
<body>
<!--navigation-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">吴建金</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">博客</a></li>
                <li><a href="#">留言</a></li>
                <li><a href="#/about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8"></div>-->
            <!--<div id="navbar" class="navbar-collapse collapse col-lg-4">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a ng-href="#/blog">博客</a></li>-->
                    <!--<li><a href="#/board">留言</a></li>-->
                    <!--<li><a href="#/about">关于</a></li>-->

                    <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
                    <!--&lt;!&ndash;关于 <span class="caret"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li class="dropdown-header">Nav header</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">One more separated link</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->