<footer class="my-footer">
    <section class="copyright">
        <a href="http://www.wujianjin.com">吴建金 | </a>
        <span>© 2016 by mosaic</span>
        <a href="/admin/login">| 后台管理</a>
    </section>
</footer>
